    :root {
        --neon-green: #67e251;
        --dark-blue: #1A1A2E; 
        --text-color: #E0E0E0;
    }

    body{
        margin: 0; 
        padding: 0;
        width: 100%;
        height: 100%;
        font-family: 'Roboto', sans-serif;
        color: var(--text-color);
        
    }
    #background-video {
        position: fixed;
        top: 0;      
        left: 0;     
        width: 100vw; 
        height: 100vh; 
        z-index: -1;
        object-fit: cover;
        filter: brightness(0.5);
    }
    .main-header, .hero-section, .content-section {
        position: relative;
        z-index: 1;
    }
    .logo{
        position: absolute;
        left: 50%; 
        top: 50%;
        margin-top: -125px;
        margin-left: -125px;
    }
    .logo-img{
        height: 250px;
        width: auto;
        vertical-align: middle;
        
    }
    .main-header{
        height: 255px;
        position: relative;
        
    }

    .hero-section {
        height: auto;
        padding-top: 250px;
        position: relative;
    }

    .hero-content h1{
        margin-bottom: 40px;
    }

    .hero-content {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 2; 
        max-width: 800px;
        padding: 0 20px;
        text-align: center;
        transform: translate(-50%, -50%);
    }
    .nav-link-left {
        position: absolute;
        right: 50%; 
        top: 50%;
        transform: translateY(-50%); 
        margin-right: 165px; 
        z-index: 200;
    }
    .nav-link-right {
        position: absolute;
        left: 50%; 
        top: 50%;
        transform: translateY(-50%); 
        margin-left: 165px; 
        z-index: 200;
    }
    .nav-link-left ul,
    .nav-link-right ul {
        list-style: none; 
        padding: 0;
        margin: 0;
    }
    .nav-link-left ul li,
    .nav-link-right ul li {
        display: inline-block; 
        margin: 0 15px;       
    }
    .nav-link-left a,
    .nav-link-right a {
        text-decoration: none;
        font-size: 1.1em;
        color: #fff;
        padding: 10px 0;
        display: block;
        transition: all 0.2s ease-in-out; 
    }
    .nav-link-left a:hover,
    .nav-link-right a:hover {
        color: var(--neon-green); 
        font-weight: bold; 
        text-shadow: 
        0 0 5px var(--neon-green),
        0 0 10px var(--neon-green),
    }
    .partners-section {
        max-width: 800px;
        margin: 0 auto;
        padding: 15px 5px;
        background-color: #f4f4f4;
        text-align: center;
        border-radius: 10px;
    }
    .partners-section h2 {
        font-size: 1.3em;
        margin-bottom: 40px;
        color: #1A1A2E;
    }
    .logo-gallery {
        max-width: 1000px;
        margin: 0 auto;
        text-align: center;
    }
    .logo-item {
        
        display: inline-block; 
        width: 15%; 
        margin: 0 10px;
        vertical-align: middle; 
    }
    .logo-item img {
        
        max-width: 100%;
        height: auto;
        opacity: 0.8;
        transition: opacity 0.2s;
    }
    .logo-item img:hover {
        opacity: 1; 
    }
    .clearfix {
        clear: both;
    }
.contact-section {
    width: 100%;
    position: relative;
    padding-top: 120px;
    text-align: center; 
    min-height: 100vh;
}
.contact-container {
    width: 450px;
    margin: 0 auto;          
    text-align: left;
    display: block;          
    background: black;
    padding: 30px;
    border-radius: 12px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;      
    max-width: 390px; 
    margin: 10px auto; 
    display: block;
}


.contact-form {
    margin-top: 15px;
}


.contact-form input,
.contact-form textarea {
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: none;
    outline: none;
}

.contact-form button {
    background: #00ffaa;
    color: black;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

.contact-form button:hover {
    background: #00d98e;
}
.footer {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
    color: #e0e0e0;
    background: black;
    position: relative;
}

.footer p {
    margin: 5px 0;
    font-size: 1;
}

.footer-links a {
    color: #00d98e;
    text-decoration: none;
    font-weight: bold;
}
