    :root {
        --neon-green: #67e251;
        --dark-blue: #1A1A2E; 
        --text-color: #E0E0E0;
    }

    body{
        margin: 0; 
        padding: 0;
        width: 100%;
        height: 100%;
        font-family: 'Roboto', sans-serif;
        color: var(--text-color);
        
    }
    #background-video {
        position: fixed;
        top: 0;      
        left: 0;     
        width: 100vw; 
        height: 100vh; 
        z-index: -1;
        object-fit: cover;
        filter: brightness(0.5);
    }
    .main-header,.seccion-eventos,.proximos-eventos{
        position: relative;
        z-index: 1;
    }
    .logo{
        position: absolute;
        left: 50%; 
        top: 50%;
        margin-top: -125px;
        margin-left: -125px;
    }
    .logo-img{
        height: 250px;
        width: auto;
        vertical-align: middle;
        
    }
    .main-header{
        height: 255px;
        position: relative;
        
    }
    .nav-link-left {
        position: absolute;
        right: 50%; 
        top: 50%;
        transform: translateY(-50%); 
        margin-right: 165px; 
        z-index: 200;
    }
    .nav-link-right {
        position: absolute;
        left: 50%; 
        top: 50%;
        transform: translateY(-50%); 
        margin-left: 165px; 
        z-index: 200;
    }
    .nav-link-left ul,
    .nav-link-right ul {
        list-style: none; 
        padding: 0;
        margin: 0;
    }
    .nav-link-left ul li,
    .nav-link-right ul li {
        display: inline-block; 
        margin: 0 15px;       
    }
    .nav-link-left a,
    .nav-link-right a {
        text-decoration: none;
        font-size: 1.1em;
        color: #fff;
        padding: 10px 0;
        display: block;
        transition: all 0.2s ease-in-out; 
    }
    .nav-link-left a:hover,
    .nav-link-right a:hover {
        color: var(--neon-green); 
        font-weight: bold; 
        text-shadow: 
        0 0 5px var(--neon-green),
        0 0 10px var(--neon-green),
    }
    .proximos-eventos{
        width: 100%;
        
    }
    h1,h3,p{
        text-align: center;
    }
    .eventos{
    width: 48%; 
    float: left; 
    margin-left: 1.2%;
    margin-bottom: 40px; 
    box-sizing: border-box; 
    padding: 10px; 
    background-color: black;
    border: 1px solid rgba(252, 252, 252, 0.192); 
    }
    .videos { 
    position: relative;
    padding-bottom: 56.25%; 
    height: 0;
    overflow: hidden; 
    margin-bottom: 15px; 
    border-radius: 5px;
    }
    .videos iframe {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    }

    .clearfix {
        clear: both;
    }